<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="public/css/style.css"/>
    <title>LOGIN PAGE</title>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="public/img/logo.svg"/>
        </div>
        <div class="login-container">
            <h1>Logowanie</h1>
            <form>
                <input name="email" type="text" placeholder="Podaj adres email"/>
                <input name="password" type="password" placeholder="Podaj hasło"/>
                <button class="button-login">ZALOGUJ</button>
                <button class="button-register">ZAREJESTRUJ</button>    
            </form>
        </div>
    </div>
</body>