<!DOCTYPE html>

<html>
    <head>
        <title>REGISTER PAGE</title>
        <link rel="stylesheet" href="public/css/style.css"/>
    </head>

    <body>
        <div class="container">
            <div class="logo">
                <img src="public/img/logo.svg"/>
            </div>
            <div class="login-container">
                <h1>Rejestracja</h1>
                <form>
                    <input name="email" type="text" placeholder="Podaj adres email"/>
                    <input name="password" type="password" placeholder="Podaj hasło"/>
                    <input name="c_password" type="password" placeholder="Potwierdź hasło"/>
                    <button class="button-login">ZAREJESTRUJ</button>
                </form>
            </div>
        </div>
    </body>
</html>